$main-bg-color: #f0f0f0;
$link-color: #333;
$link-hover-color: #fff;
$link-bg-color: #fff;
$link-border-radius: 10px;
$link-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$blue-color: #007bff;

:root {
    --main-bg-color: #f0f0f0;
    --link-color: #333;
    --link-hover-color: #fff;
    --link-bg-color: #fff;
    --link-border-radius: 10px;
    --link-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
