:root {
  --main-bg-color: #f0f0f0;
  --link-color: #333;
  --link-hover-color: #fff;
  --link-bg-color: #fff;
  --link-border-radius: 10px;
  --link-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol,
ul {
  list-style: none;
}

#cart-icon {
  position: relative;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 12px;
}

#cart-popup {
  position: fixed;
  top: 0;
  right: -400px;
  height: 100%;
  width: 350px;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 999;
  overflow-y: auto;
  padding: 20px;
}

#cart-popup h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

#cart-popup ul {
  list-style: none;
  padding: 0;
  padding-bottom: 15px;
  margin: 0;
}

#cart-popup li {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 15px;
}

.cart-item-info h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.cart-item-info .quantity {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.quantity-btn {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
}
.quantity-btn:hover {
  background-color: #0062cc;
}

.cart-item .remove-btn {
  background-color: #dc3545;
  color: #fff;
  padding: 7.5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  /* margin-top: 5px; */
}

.cart-item .remove-btn:hover {
  background-color: #bd2130;
}

#checkout-cart-button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

#checkout-cart-button:hover {
  background-color: #0c0c0c;
  color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.quantity-buttons {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 20px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.product-card-container {
  position: relative;
  width: 300px;
  margin: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.product-card-container:hover {
  transform: scale(1.02);
}

.product-card-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.product-card-container:hover::before {
  opacity: 1;
}

.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.product-info {
  padding: 15px;
  text-align: left;
  z-index: 1;
}

.product-info h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.product-info p {
  font-size: 14px;
  margin-bottom: 8px;
  color: #666;
}

.product-info .price {
  color: #f00;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.product-info .desc {
  color: #555;
}

.product-info .buy-btn {
  background-color: #007bff;
  color: #fff;
  font-weight: 500;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.product-info .buy-btn:hover {
  background-color: #0056b3;
}

.product-filter {
  position: relative;
  display: inline-block;
}

#product-type {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  appearance: none;
  background: url("../../assets/img/icon.svg") no-repeat 90px center;
  background-size: 20px 20px;
  padding-right: 30px;
}

.buy-btn img,
.buy-btn span {
  pointer-events: none;
}

.buy-btn img {
  margin-right: 8px;
  filter: invert(65%) sepia(48%) saturate(2355%) hue-rotate(188deg) brightness(172%) contrast(88%);
}

@media (max-width: 568px) {
  #cart-popup {
    width: 280px;
  }
}
@media (min-width: 568px) and (max-width: 768px) {
  .container {
    padding: 20px 0;
  }
  .product-card-container {
    width: calc(50% - 25px);
    margin: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .products-list {
    justify-content: space-between;
  }
  .product-card-container {
    width: calc(50% - 40px);
  }
}
@media (min-width: 992px) and (max-width: 1250px) {
  .products-list {
    justify-content: space-between;
  }
  .product-card-container {
    width: calc(33.3333% - 40px);
  }
}
.linktree-style {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.linktree-style a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
.linktree-style a:hover {
  transform: scale(1.05);
  color: #fff;
  background-color: #847d45;
}/*# sourceMappingURL=style.css.map */